*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden; }

body {
  width: 100vw;
  height: 100vh;
  background-color: #61dbfb; }

p {
  color: #fff; }

.container {
  background-color: #393f49;
  margin-top: 5rem;
  padding: 2rem;
  width: 75%;
  max-width: 700px;
  position: relative;
  border-radius: 15px; }

#form {
  width: 60%;
  max-width: 65%; }

.btn-primary {
  background-color: #56d456;
  border: 0; }
  .btn-primary:focus, .btn-primary:link, .btn-primary:active {
    background-color: #56d456; }
  .btn-primary:visited, .btn-primary:hover {
    background-color: #56d456; }

/*List items*/
.list-group-container {
  margin-top: 2rem;
  gap: 10px; }

.list-group {
  list-style: none;
  color: #fff; }

.list-item {
  margin-bottom: 1rem;
  background-color: #fff;
  border-radius: 10px;
  color: #000;
  padding: 0.4em 0.6em;
  animation: append-animate .3s linear; }

button.btn {
  float: right; }

/*Animations*/
@keyframes append-animate {
  from {
    transform: scale(0);
    opacity: 0; }
  to {
    transform: scale(1);
    opacity: 1; } }
